<!DOCTYPE html>
<html>
<head>
	<title>Flats in Ukraine</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../static/style.css">
	<script src="app.js" type="module"></script>
</head>
<body>
	<header>
		<h1>Funny page</h1>
		<nav>
			<ul>
				<li><a href="/main">Home</a></li>
                <li><a href="/showflats">Show flats</a></li>
                <li><a href="/addflats">Add flat</a></li>
				<li><a href="/login">Log in</a></li>
				<li><a href="/signup">Sign up</a></li>
				<li><a href="/bot">Bot</a></li>
				<li><a href="/answer">Answer</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section>
            <div>
                <h1>Here you can see different sentence every time you reload this page</h1>
				<h2>{{ data }}</h2>
            </div>
		</section>
	</main>
	<footer>
		<p>&copy; 2023 My Website</p>
	</footer>
</body>
</html>
