<!DOCTYPE html>
<html>
<head>
	<title>Bot</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../static/style.css">
	<script src="app.js" type="module"></script>
</head>
<body>
	<header>
		<h1>You can use bot</h1>
		<nav>
			<ul>
				<li><a href="/main">Home</a></li>
				<li><a href="/showflats">Show flats</a></li>
				<li><a href="/addflats">Add flat</a></li>
				<li><a href="/login">Log in</a></li>
				<li><a href="/signup">Sign up</a></li>
				<li><a href="/apipage">Strange page</a></li>
				<li><a href="/answer">Answer</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section>
			<h1>This page has a link to a Telegram bot that can help you choose an apartment if you couldn't do it here</h1>
			<h1>Link</h1>
  			<h1><button href="https://t.me/ukr_flat_rent_bot">Rent flats in Kiev</button></h1><br>
		</section>
	</main>
	<footer>
		<p>&copy; 2023 My Website</p>
	</footer>
</body>
</html>
