<!DOCTYPE html>
<html>
<head>
	<title>Flats in Ukraine</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../static/style.css">
	<script src="app.js" type="module"></script>
</head>
<body>
	<header>
		<h1>Currency</h1>
		<nav>
			<ul>
				<li><a href="/main">Home</a></li>
				<li><a href="/showflats">Show flats</a></li>
				<li><a href="/addflats">Add flat</a></li>
                <li><a href="/signup">Sign up</a></li>
				<li><a href="/login">Log in</a></li>
				<li><a href="/bot">Bot</a></li>
				<li><a href="/apipage">Strange page</a></li>
				<li><a href="/message">Messanger</a></li>
				<li><a href="/answer">Answer</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section>
            <div>
                  <form action="currency" method="post">

					<label for="hryvnia_dollar">Hryvnia to dollar</label><br>
                	<input type="text" id="hryvnia_dollar" name="hryvnia_dollar"><br>

                	<label for="hryvnia_euro">Hryvnia to euro</label><br>
                    <input type="text" id="hryvnia_euro" name="hryvnia_euro"><br>

                    <label for="dollar_hryvnia">Dollar to hryvnia</label><br>
                	<input type="text" id="dollar_hryvnia" name="dollar_hryvnia"><br>

                	<label for="dollar_euro">Dollar to euro</label><br>
                    <input type="text" id="dollar_euro" name="dollar_euro"><br>

                    <label for="euro_dollar">Euro to dollar</label><br>
                	<input type="text" id="euro_dollar" name="euro_dollar"><br>

                	<label for="euro_hryvnia">Euro to hryvnia</label><br>
                    <input type="text" id="euro_hryvnia" name="euro_hryvnia"><br>

					  <input type="submit" value="Add"><br>
                  </form>
            </div>
		</section>
	</main>
	<footer>
		<p>&copy; 2023 My Website</p>
	</footer>
</body>
</html>
