<!DOCTYPE html>
<html>
<head>
	<title>Flats in Ukraine</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../static/style.css">
	<script src="app.js" type="module"></script>
</head>
<body>
	<header>
		<h1>Messanger</h1>
		<nav>
			<ul>
				<li><a href="/main">Home</a></li>
				<li><a href="/showflats">Show flats</a></li>
				<li><a href="/addflats">Add flat</a></li>
                <li><a href="/signup">Sign up</a></li>
				<li><a href="/login">Log in</a></li>
				<li><a href="/bot">Bot</a></li>
				<li><a href="/apipage">Strange page</a></li>
				<li><a href="/answer">Answer</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section>
            <div>
				<h1>Also, you can ask us a question</h1>
				<form action="message" method="post">

                <label for="message">Message</label><br>
                <input type="text" id="message" name="message" placeholder="Your message"><br>

                <input type="submit" value="Send message">
            	</form>
				<h1>Answer</h1>

            </div>
		</section>
	</main>
	<footer>
		<p>&copy; 2023 My Website</p>
	</footer>
</body>
</html>
