<!DOCTYPE html>
<html>
<head>
	<title>Flats in Ukraine</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../static/style.css">
	<script src="app.js" type="module"></script>
</head>
<body>
	<header>
		<h1>Flat what we have</h1>
		<nav>
			<ul>
				<li><a href="/main">Home</a></li>
                <li><a href="/addflats">Add flat</a></li>
				<li><a href="/login">Log in</a></li>
				<li><a href="/bot">Bot</a></li>
				<li><a href="/apipage">Strange page</a></li>
				<li><a href="/message">Messanger</a></li>
				<li><a href="/answer">Answer</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section>
            <div>
				<ul>
                  <h1>{{ flat.name }}</h1>
                  <h2>|Street-{{ flat.street }}|   |Near-{{ flat.near }}|</h2>
                  <h2>|Floor-{{ flat.floor }}|   Rooms-{{ flat.room }}   |Size-{{ flat.size }}m²|</h2>
					<h2>|Price in dollar-{{ flat.price }}{{ flat.currency }}|</h2>
					<h2>|Price in hryvnia - {{ r_cost_dh }}₴|</h2>
					<h2>|Price in euro - {{r_cost_de}}€|</h2>
                  <center>
                    <div id="googleMap" style="width:50%;height:400px;"></div><br>
                    <script>
						function myMap{{flat.id}}() {
							var mapProp= {
								center:new google.maps.LatLng({{ flat.position }}),
								zoom:18,
							};
							var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
						}
		    				google.maps.event.addListener(map, 'click', function(event) {
	    				  placeMarker(map, event.latLng);
						});
					</script>
                    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsDy3cDo79zLSHjH7YnCKcj7d0WpnHcIM&callback=myMap{{ flat.id }}"></script>
                  </center>
                  <nav>
                    <ul>
                      <li><h1><a href="/pay">Pay</a></h1></li>
                    </ul>
                  </nav>
				</ul>
            </div>
		</section>
	</main>
	<footer>
		<p>&copy; 2023 My Website</p>
	</footer>
</body>
</html>
